#activeBar {

 background-color: #4CAF50;
}


body {
  font-family: Arial;
}

input[type=text] ,input[type=email],input[type=password],.drop{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}


/* div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

.container {
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.incontainer {
	margin-left:50px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 35%;
}